html {
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #29571f;
  align-items: center;
}

.logo {
  margin-left: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.headerCta {
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.hero {
  padding-top: 50px;
  width: 100%;
  background-color: #29571f;
}

.contain {
  flex: 1;
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

h1 {
  color: white;
}

.cta {
  margin: 10px;
  padding: 10px;
  max-width: 500px;
}

.image {
  max-width: 500px;
}

img {
  max-width: 100%;
  height: auto;
  width: calc(auto/9);
}

.showcase {
  background-color: #13290e;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.contianBird {
  background-color: #13290e;
  width: 100%;
  display: flex;
}

.birdPics {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13290e;
}

.card {
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.footercta {
  width: 100%;
  background-color: #13290e;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
}

.bottomcta {
  flex: 1;
  display: flex;
  margin: auto;
  padding: 10px;
}

.footer {
  padding: 20px;
  text-align: center;
}
